body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f1f1;
}

h1{
  color: #f0f0f0;
  background-color: black;
  border-radius: 20%;
}

.emoji-container {
  position: relative;
  width: 100px;
  height: 100px;
  
}

.face{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: yellow;
  top: 50%;
  right: -93%;
  border-radius: 50%;
  
}

.face2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: chartreuse;
  top: 64%;
  right: 55%;
  border-radius: 50%;
}

.emoji {
  position: absolute;
  top: 80%;
  left: 130%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.emoji2{
  position: absolute;
  top: 70%;
  left: 39.5%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
}

.eye {
  position: absolute;
  top: 40%;
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;


}
.eye2{
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  right: 50px;
}

.left-eye {
  left: 25%;
}

.left-eye2{
  left:  70%;
}

.right-eye {
  right: -10%;
}

.right-eye2{
  right: 65%;
}
.mouth {
  position: absolute;
  top: 100%;
  left: 67%;
  transform: translateX(-50%);
  width: 35px;
  height: 15px;
  border: 2px solid black;
  border-radius: 70%;
  border-top: none;
  overflow: hidden;
}

.mouth2 {
  position:absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  width: 35px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  border-top: none;
  overflow: hidden;
}

.tongue {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  background-color: #ff0606;
  border-radius: 50%;
  animation: tongue 2s infinite;
}

.tongue2{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  background-color: #ee0063;
  border-radius: 50%;
  animation: tongue 2s infinite;
}

@keyframes tongue {
  0%, 50%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  25%, 75% {
    transform: translateX(-50%) translateY(-10px);
  }
}

@keyframes tongue2 {
  0%, 50%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  25%, 75% {
    transform: translateX(-50%) translateY(-10px);
  }
}
.left-eye::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f0f0f0;
  border-radius: 50%;
  transform: scaleX(1);
  transform-origin: 50% 50%;
  animation: wink 2s infinite alternate;
}

.left-eye2::after{
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  transform: scaleX(1);
  transform-origin: 50% 50%;
  animation: wink 1s infinite alternate;
}

.right-eye::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #f0f0f0; 
  border-radius: 50%;
  transform: scaleX(1);
  transform-origin: 50% 50%;
  animation: wink 2s infinite alternate;
}

.right-eye2::after{
  content: '';
  display:block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  transform: scaleX(1);
  transform-origin: 50% 50%;
  animation: wink 1s infinite alternate;
}

body{
  background-color: aqua;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
  @keyframes example {
      0%   {background-color:red; left:0px; top:0px;}
      25%  {background-color:grey; left:200px; top:0px;}
      50%  {background-color:blue; left:200px; top:200px;}
      75%  {background-color:green; left:0px; top:200px;}
      100% {background-color:red; left:0px; top:0px;}
}

@keyframes wink {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
}

